[submodule "public"]
	path = public
	url = https://github.com/alectrusty/alectrusty.github.io.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/alectrusty/hugo-researcher.git
